p {
  line-height: 1.3;
}
.part {
  margin-bottom: 5rem;
  max-width: 90rem;
}
h4 {
  margin-bottom: 2rem;
}
li {
  margin-bottom: 1rem;
}
a:link,
a:visited {
  color: var(--blue-buttons);
  text-decoration: underline;
  font-weight: 400;
}
.mentions-nav {
  padding: 5rem;
}
