@media only screen and (max-width: 1010px) {
  html {
    font-size: 50%;
  }
  .presentation {
    flex-direction: column;
  }
  .presenting-me {
    max-width: fit-content;
  }
  .presentation-image {
    text-align: center;
  }
  .projects {
    align-items: center;
    gap: 0;
    display: grid;
    row-gap: 4rem;
    grid-template-columns: 1fr 1fr;
  }
  .projects article:nth-child(2) {
    margin-right: 0;
  }
}
@media only screen and (max-width: 840px) {
  html {
    font-size: 40%;
  }
  .projects {
    grid-template-columns: 1fr;
  }
  .project {
    margin: 0;
    max-width: 100%;
  }
  .about-flex {
    flex-direction: column;
  }
  .container-test {
    align-self: center;
  }
  .cards {
    flex-direction: column;
  }
}
@media only screen and (max-width: 550px) {
  .container-test{
    max-height: 300px;
  }
  .about-flex img {
    height: 100%;
}
}