html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
:root {
  --blue-buttons: #3358d4;
  --white: #ffffff;
  --grey: #616161;
  --indigo-text: #1f2d5c;
  --second-text: #3a5bc7;
  --indigo-light: rgb(231, 238, 252);
  --bg-light: #f7f9ff;
  --shadow-bien: 0px 10px 15px -3px rgba(0, 0, 0, 0.08);
  --border-radius: 10px;
  --border-radius-big: 20px;
  /* Spacing system */
  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-xxl: 4rem;
  /* Font sizes */
  --h1: 6.1rem;
  --h2: 3.9rem;
  --h3: 3.1rem;
  --h4: 2.3rem;
  --text-big: 2rem;
  --text-regular: 1.6rem;
}

.grey {
  color: var(--grey);
}
.blue-buttons {
  color: var(--blue-buttons);
}
.white {
  color: var(--white);
}
.indigo-text {
  color: var(--indigo-text);
}
.second-text {
  color: var(--second-text);
}
.bg-light {
  background-color: var(--bg-light);
}
.shadox-bien {
  box-shadow: var(--shadow-bien);
}
.border-radius {
  border-radius: var(--border-radius);
}
.border-radius-big {
  border-radius: var(--border-radius-big);
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  color: var(--indigo-text);
}
a {
  text-decoration: none;
}
.dark-mode {
  --blue-buttons: #9eb1ff;
  --white: #1f2d5c;
  --grey: #eeeeee;
  --indigo-text: #d6e1ff;
  --second-text: #5472e4;
  --indigo-light: #304384;
  --bg-light: #11131f;
}

.grey {
  color: var(--grey);
}
.blue-buttons {
  color: var(--blue-buttons);
}
.white {
  color: var(--white);
}
.indigo-text {
  color: var(--indigo-text);
}
.second-text {
  color: var(--second-text);
}
.bg-light {
  background-color: var(--bg-light);
}
body {
  background-color: var(--white);
}
h1 {
  font-size: var(--h1);
  max-width: 67rem;
  font-weight: 400;
  line-height: 1.2;
}
h2 {
  font-size: var(--h2);
}
h3 {
  font-size: var(--h3);
}
h4 {
  font-size: var(--h4);
}
body {
  position: relative;
}
header {
  position: sticky;
}
nav ul {
  margin: 0 auto;
  max-width: 144rem;
  display: flex;
  align-items: center;
  justify-content: end;
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
}
nav ul li {
  margin-right: 6.5rem;
}
nav ul li:nth-child(3),
nav ul li:last-child {
  margin-right: 0rem;
  padding-right: 0;
}
button {
  z-index: 9;
  width: 100px;
  height: 100px;
  border: none;
  background-size: cover;
  cursor: pointer;
  pointer-events: all;
}
button:hover {
  opacity: 0.8;
}
.dark {
  max-width: 3.5rem;
  margin-right: 0;
}
.link:link,
.link:visited {
  display: block;
  color: var(--grey);
  text-decoration: none;
}
.link:hover,
.link:active {
  color: var(--indigo-text);
  text-decoration: underline var(--indigo-text);
  text-decoration-thickness: 3px;
}
.button:link,
.button:visited {
  text-decoration: none;
  color: var(--white);
  font-weight: 500;
  padding: 1.5rem 2rem;
  border: 5px solid transparent;
  border-radius: 0.625rem;
  background: var(--blue-buttons);
  box-shadow: var(--shadow-bien);
}
.button:hover,
.button:active {
  background-color: transparent;
  color: var(--indigo-text);
  border: 5px solid var(--indigo-text);
}
.toggle-mode,
.toggle-mode2 {
  border: none;
  background: none;
  display: flex;
  padding: 0.5rem;
  padding-left: 0;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}
.nav ul:last-child {
  margin-right: 0rem;
}

.strong-name {
  font-weight: 600;
  position: relative;
}

.strong-name div {
  position: relative;
  display: inline-block;
}

.strong-name:hover div::after {
  height: 7.5rem;
}

.strong-name div::after {
  content: "";
  z-index: -1;
  position: absolute;
  bottom: 0px;
  border-radius: 1px;
  left: -4.5%;
  width: 102.9%;
  height: 1.4rem;
  background-color: var(--indigo-light);
  transition: height 0.4s;
}
.text-big {
  font-size: var(--text-big);
}
.text-regular {
  font-size: var(--text-regular);
}
* {
  font-family: "Inter", sans-serif;
  font-weight: 500; /* Medium */
  font-size: 2rem;
}
section {
  margin: 0 auto;
  max-width: 144rem;
  padding: 0 5rem;
}
footer {
  font-family: "Inter", sans-serif;
}
section {
  font-family: "Inter", sans-serif;
}
strong {
  font-weight: 500;
}
footer {
  padding: 2rem;
  color: var(--indigo-text);
  font-size: 1.6rem;
}
.legal-notices:link,
.legal-notices:visited {
  margin-left: 1rem;
  font-weight: 600;
  color: var(--blue-buttons);
}
/*Burger menu*/
.burger-menu-div {
  display: none;
  z-index: 4;
  background-color: var(--indigo-light);
  color: var(--indigo-text);
  position: absolute;
  height: 100vh;
  width: 100%;
  font-size: 2rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 2rem;
}
.ul-flex {
  display: flex;
  flex-direction: column;
}
.burger-div {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.burger-burger {
  position: absolute;
  padding: 4rem;
}
.burger-div li {
  padding: 2rem;
  margin-bottom: 2rem;
}
.burger-div ul li a:link,
.burger-div ul li a:visited {
  color: var(--indigo-text);
  text-decoration: none;
}
.burger-div ul li:last-child {
  margin-top: 5rem;
  color: var(--white);
}
.burger-mentions:link,
.burger-mentions:visited {
  color: var(--white) !important;
}
.burger-mentions:hover,
.burger-mentions:active {
  color: var(--indigo-text) !important;
}
.burger-icon {
  display: none;
}
.toggle-mode,
.toggle-mode2 {
  user-select: all !important;
}
.burger {
  position: relative;
  height: 4rem;
  width: 4rem;
}
.burger-li {
  position: relative;
  padding: 0.5rem;
}
.burger-menu {
  position: relative;
  color: #1f2d5c;
}
