html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
:root {
  --blue-buttons: #3358d4;
  --white: #ffffff;
  --grey: #616161;
  --indigo-text: #1f2d5c;
  --second-text: #3a5bc7;
  --ingigo-light: #edf2fe;
  --bg-light: #f7f9ff;
  --shadow-bien: 0px 10px 15px -3px rgba(0, 0, 0, 0.08);
  --border-radius: 10px;
  --border-radius-big: 20px;
  /* Spacing system */
  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-xxl: 4rem;
  /* Font sizes */
  --h1: 6.1rem;
  --h2: 3.9rem;
  --h3: 3.1rem;
  --h4: 2.3rem;
  --text-big: 2rem;
  --text-regular: 1.6rem;
}

.grey {
  color: var(--grey);
}
.blue-buttons {
  color: var(--blue-buttons);
}
.white {
  color: var(--white);
}
.indigo-text {
  color: var(--indigo-text);
}
.second-text {
  color: var(--second-text);
}
.bg-light {
  background-color: var(--bg-light);
}
.shadox-bien {
  box-shadow: var(--shadow-bien);
}
.border-radius {
  border-radius: var(--border-radius);
}
.border-radius-big {
  border-radius: var(--border-radius-big);
}
html {
  font-size: 62.5%;
}
body {
  color: var(--indigo-text);
}
a {
  text-decoration: none;
}
h1 {
  font-size: var(--h1);
  max-width: 67rem;
  font-weight: 400;
  line-height: 1.2;
}
h2 {
  font-size: var(--h2);
}
h3 {
  font-size: var(--h3);
}
h4 {
  font-size: var(--h4);
}
nav {
  padding: 2rem;
}
nav ul {
  margin: 0 auto;
  max-width: 144rem;
  padding-top: 4rem;
  display: flex;
  gap: 6.5rem;
  align-items: center;
  justify-content: end;
  font-family: "Inter", sans-serif;
  font-size: 2.3rem;
  font-weight: 400;
}

.link:link,
.link:visited {
  display: block;
  color: var(--grey);
  text-decoration: none;
}
.link:hover,
.link:active {
  color: var(--indigo-text);
  text-decoration: underline var(--indigo-text);
  text-decoration-thickness: 3px;
}
.button:link,
.button:visited {
  text-decoration: none;
  color: var(--white);
  font-weight: 500;
  padding: 1.1rem 1.8rem;
  border: 5px solid transparent;
  border-radius: 0.625rem;
  background: var(--bleu-boutons-solid-bgs, #3358d4);
  box-shadow: var(--shadow-bien);
}
.button:hover,
.button:active {
  background-color: transparent;
  color: var(--indigo-text);
  border: 5px solid var(--indigo-text);
}
.strong-name {
  font-weight: 600;
  size: fit-content;
  position: relative;
  display: inline-block;
  &:hover::after {
    height: 8.2rem;
  }
}
.strong-name::after {
  content: "";
  z-index: -1;
  position: absolute;
  bottom: -4px;
  border-radius: 1px;
  left: -0.4%;
  width: 100.8%;
  height: 1.4rem; /* Ajustez l'épaisseur du soulignement selon vos préférences */
  background-color: #edf2fe; /* Couleur du soulignement */
  transition: height 0.4s;
}
.text-big {
  font-size: var(--text-big);
}
.text-regular {
  font-size: var(--text-regular);
}
* {
  font-family: "Inter", sans-serif;
  font-weight: 500; /* Medium */
}
.underline-projects {
  font-weight: 400;
  position: relative;
  display: inline-block;
  color: var(--grey);
  &:hover::after {
    background-color: var(--blue-buttons);
  }
}
.underline-projects:hover,
.underline-projects:active {
  font-weight: 500;
  color: var(--blue-buttons);
}
.underline-projects::after {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  width: 102%;
  height: 4px;
  border-radius: 1px;
  background-color: var(--grey);
}
footer {
  font-family: "Inter", sans-serif;
}
.presentation {
  display: flex;
  justify-content: space-between;
}
.presentation-image {
  height: 40rem;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.presenting-me {
  color: var(--grey);
  line-height: 1.6;
  margin-top: 3rem;
  margin-bottom: 7rem;
  font-size: 2rem;
  max-width: 67rem;
}
.social-links {
  display: flex;
  gap: 2rem;
}
.social-links li {
  width: 5.5rem;
  height: 5.5rem;
}
.social-links li a img {
  width: 100%;
  height: 100%;
}
strong {
  font-weight: 500;
}
section {
  margin: 0 auto;
  max-width: 144rem;
  padding: 0 5rem;
}
.presentation {
  display: flex;
  margin: 12rem 0;
}
.underline-projects-h {
  z-index: 2;
  margin-bottom: 2.5rem;
  position: relative;
  display: inline-block;
  &:hover::after {
    height: 4.6rem;
  }
}
.underline-projects-h::after {
  z-index: -3;
  content: "";
  position: absolute;
  bottom: -4px;
  border-radius: 1px;
  left: -0.4%;
  width: 100.8%;
  height: 0.8rem; /* Ajustez l'épaisseur du soulignement selon vos préférences */
  background-color: #edf2fe; /* Couleur du soulignement */
  transition: height 0.4s;
}
.bg-section {
  background-color: var(--bg-light);
}
#some-projects {
  padding-bottom: 10rem;
  padding-top: 7rem;
  background-color: var(--bg-light);
  background-size: contain;
}
.p-projects {
  font-size: 1.6rem;
  color: #616161;
  margin-bottom: 6rem;
}
.projects {
  margin: 0 auto;
  gap: 1fr;
  display: flex;
  justify-content: space-between;
}
.img-container {
  position: relative;
  height: 30rem;
  background-color: #ffffff;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}
.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7);
}

.project {
  margin-right: 3rem;
  position: relative;
  background-color: #ffffff;
  height: fit-content;
  border-radius: 20px;
  max-width: 36rem;
  min-width: 25rem;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.08);
}
.project:last-child {
  margin-right: 0;
}
.text-container {
  position: relative;
  padding: 2.5rem 2rem;
}
.text-container p {
  font-size: 1.6rem;
  color: #616161;
  line-height: 1.2;
  padding-bottom: 2.8rem;
  margin-bottom: 0;
  padding-top: 1.5rem;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  max-width: 100%;
}
.tag {
  background-color: #edf2fe;
  color: #1f2d5c;
  font-size: 2rem;
  font-weight: 500;
  border-radius: 10px;
  padding: 0.9rem 1.6rem;
}
.project-button:link,
.project-button:visited {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -12%;
  right: 2%;
  border-radius: 200px;
  background-color: #3358d4;
  width: 4.5rem;
  height: 4.5rem;
}
.project-link:link,
.project-link:visited {
  text-decoration: none;
  color: inherit;
}
.arrow {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%)
    contrast(103%);
}
.project {
  transition: transform 0.2s ease;
}
.project:hover {
  transform: scale(1.02);
}
.about-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10rem;
}
.about-flex img {
  max-height: 400px;
}
.about-flex p {
  margin-bottom: 5rem;
  max-width: 60rem;
  font-size: var(--text-big);
  font-weight: 400;
  line-height: 140%;
}
.underline-title {
  z-index: 2;
  margin-bottom: 2.5rem;
  position: relative;
  display: inline-block;
  &:hover::after {
    height: 4.6rem;
  }
}
.underline-title::after {
  z-index: -3;
  content: "";
  position: absolute;
  bottom: -4px;
  border-radius: 1px;
  left: -0.4%;
  width: 100.8%;
  height: 0.8rem; /* Ajustez l'épaisseur du soulignement selon vos préférences */
  background-color: #edf2fe; /* Couleur du soulignement */
  transition: height 0.4s;
}
.about-text p img {
  width: 20px;
  margin-left: 5px;
}
.about-text p img:first-child {
  width: 20px;
  margin-left: 0;
}
.about-external-link {
  color: var(--blue-buttons);
  text-decoration: underline;
}
.about-external-link img {
  height: 13px;
}
.strong-stage {
  position: relative;
  display: inline;
  font-weight: 500;
  background-color: #edf2fe;
  background-size: 100.8%;
}

.underline-about-me {
  font-weight: 400;
  position: relative;
  display: inline-block;
  color: var(--indigo-text);
  &:hover::after {
    background-color: var(--blue-buttons);
  }
}
.underline-about-me:hover,
.underline-about-me:active {
  font-weight: 500;
  color: var(--blue-buttons);
}
.underline-about-me::after {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  width: 102%;
  height: 2px;
  border-radius: 1px;
  background-color: var(--indigo-text);
}
.about-image {
  position: relative;
  z-index: -1;
}
.about-image-logos {
  position: absolute;
  content: "";
  transform: rotate(-10.5deg);
  z-index: 2;
  top: 75px;
  left: 0;
  width: 100px;
  height: 100px;
}
