.dark-mode {
  --blue-buttons: #9eb1ff;
  --white: #1f2d5c;
  --grey: #eeeeee;
  --indigo-text: #d6e1ff;
  --second-text: #5472e4;
  --indigo-light: #304384;
  --bg-light: #11131f;
}

.grey {
  color: var(--grey);
}
.blue-buttons {
  color: var(--blue-buttons);
}
.white {
  color: var(--white);
}
.indigo-text {
  color: var(--indigo-text);
}
.second-text {
  color: var(--second-text);
}
.bg-light {
  background-color: var(--bg-light);
}
body {
  background-color: var(--white);
}
h1 {
  font-size: var(--h1);
  max-width: 67rem;
  font-weight: 400;
  line-height: 1.2;
}
h2 {
  font-size: var(--h2);
}
h3 {
  font-size: var(--h3);
}
h4 {
  font-size: var(--h4);
}
body {
  position: relative;
}
header {
  position: sticky;
}
nav ul {
  margin: 0 auto;
  max-width: 144rem;
  display: flex;
  align-items: center;
  justify-content: end;
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
}
nav ul li {
  margin-right: 6.5rem;
}
nav ul li:nth-child(3),
nav ul li:last-child {
  margin-right: 0rem;
}
.dark {
  max-width: 3.5rem;
}
.link:link,
.link:visited {
  display: block;
  color: var(--grey);
  text-decoration: none;
}
.link:hover,
.link:active {
  color: var(--indigo-text);
  text-decoration: underline var(--indigo-text);
  text-decoration-thickness: 3px;
}
.button:link,
.button:visited {
  text-decoration: none;
  color: var(--white);
  font-weight: 500;
  padding: 1.1rem 1.8rem;
  border: 5px solid transparent;
  border-radius: 0.625rem;
  background: var(--blue-buttons);
  box-shadow: var(--shadow-bien);
}
.button:hover,
.button:active {
  background-color: transparent;
  color: var(--indigo-text);
  border: 5px solid var(--indigo-text);
}
.toggle-mode {
  border: none;
  background: none;
  display: flex;
  padding: 0.5rem;
  padding-left: 0;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}
.nav ul:last-child {
  margin-right: 0rem;
}

.strong-name {
  font-weight: 600;
  position: relative;
}

.strong-name div {
  position: relative;
  display: inline-block;
}

.strong-name:hover div::after {
  height: 7.5rem;
}

.strong-name div::after {
  content: "";
  z-index: -1;
  position: absolute;
  bottom: 0px;
  border-radius: 1px;
  left: -0.4%;
  width: 108%;
  height: 1.4rem;
  background-color: var(--indigo-light);
  transition: height 0.4s;
}
.text-big {
  font-size: var(--text-big);
}
.text-regular {
  font-size: var(--text-regular);
}
* {
  font-family: "Inter", sans-serif;
  font-weight: 500; /* Medium */
}
.underline-projects {
  color: var(--blue-buttons);
  font-weight: 400;
  position: relative;
  display: inline-block;
}
.underline-projects:hover,
.underline-projects:active {
  font-weight: 500;
}
.underline-projects::after {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  width: 102%;
  height: 4px;
  border-radius: 1px;
  background-color: var(--blue-buttons);
}
footer {
  font-family: "Inter", sans-serif;
}
section {
  font-family: "Inter", sans-serif;
}
.presentation {
  display: flex;
  justify-content: space-between;
}
.presentation-image {
  height: 40rem;
}

.hero-img {
  max-width: 40rem;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.presenting-me {
  color: var(--grey);
  line-height: 1.6;
  margin-top: 3rem;
  margin-bottom: 7rem;
  font-size: 2rem;
  max-width: 67rem;
}
.social-links {
  display: flex;
  gap: 2rem;
}
.social-links li {
  width: 5.5rem;
  height: 5.5rem;
}
.social-links li a img {
  max-width: 5.5rem;
  width: 100%;
  height: 100%;
}
strong {
  font-weight: 500;
}
section {
  margin: 0 auto;
  max-width: 144rem;
  padding: 0 5rem;
}
.presentation {
  display: flex;
  margin: 12rem 0;
}
.underline-projects-h {
  z-index: 2;
  margin-bottom: 2.5rem;
  position: relative;
  display: inline-block;
  &:hover::after {
    height: 4.6rem;
  }
}
.underline-projects-h::after {
  z-index: -3;
  content: "";
  position: absolute;
  bottom: -4px;
  border-radius: 1px;
  left: -0.4%;
  width: 100.8%;
  height: 0.8rem; /* Ajustez l'épaisseur du soulignement selon vos préférences */
  background-color: var(--bg-light); /* Couleur du soulignement */
  transition: height 0.4s;
}
.bg-section {
  background-color: var(--bg-light);
}
#some-projects {
  padding-bottom: 10rem;
  padding-top: 10rem;
  background-color: var(--bg-light);
  background-size: contain;
}
.p-projects {
  font-size: 1.6rem;
  color: var(--grey);
  margin-bottom: 6rem;
}
.projects {
  margin: 0 auto;
  gap: 1fr;
  display: flex;
  justify-content: space-between;
}
.img-container {
  position: relative;
  max-height: 30rem;
  background-color: #ffffff;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}
.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7);
}

.project {
  margin-right: 3rem;
  position: relative;
  background-color: var(--white);
  height: fit-content;
  border-radius: 20px;
  max-width: 36rem;
  min-width: 25rem;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.08);
}
.project:last-child {
  margin-right: 0;
}
.text-container {
  position: relative;
  padding: 2.5rem 2rem;
}
.text-container p {
  font-size: 1.6rem;
  color: var(--grey);
  line-height: 1.2;
  padding-bottom: 2.8rem;
  margin-bottom: 0;
  padding-top: 1.5rem;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  max-width: 100%;
}
.tag {
  background-color: var(--indigo-light);
  color: var(--indigo-text);
  font-size: 2rem;
  font-weight: 500;
  border-radius: 10px;
  padding: 0.9rem 1.6rem;
}
.project-button:link,
.project-button:visited {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -12%;
  right: 2%;
  border-radius: 200px;
  background-color: #3358d4;
  width: 4.5rem;
  height: 4.5rem;
}
.project-link:link,
.project-link:visited {
  text-decoration: none;
  color: inherit;
}
.arrow {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%)
    contrast(103%);
}
.project {
  transition: transform 0.2s ease;
}
.project:hover {
  transform: scale(1.02);
}
.about-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10rem;
}
.about-flex img {
  max-height: 400px;
}
.about-flex p {
  margin-bottom: 5rem;
  max-width: 60rem;
  font-size: var(--text-big);
  font-weight: 400;
  line-height: 140%;
}
.underline-title {
  z-index: 2;
  margin-bottom: 2.5rem;
  position: relative;
  display: inline-block;
  &:hover::after {
    height: 4.6rem;
  }
}
.underline-title::after {
  z-index: -3;
  content: "";
  position: absolute;
  bottom: -4px;
  border-radius: 1px;
  left: -0.4%;
  width: 100.8%;
  height: 0.8rem; /* Ajustez l'épaisseur du soulignement selon vos préférences */
  background-color: var(--indigo-light); /* Couleur du soulignement */
  transition: height 0.4s;
}
#about-me {
  padding-top: 10rem;
  margin-bottom: 10rem;
}
.about-text p img {
  width: 20px;
  margin-left: 5px;
}
.about-text p img:first-child {
  width: 20px;
  margin-left: 0;
}
.about-external-link {
  color: var(--blue-buttons);
  text-decoration: underline;
}
.about-external-link img {
  height: 20px;
}
.strong-stage {
  position: relative;
  display: inline;
  font-weight: 500;
  background-color: var(--indigo-light);
  background-size: 100.8%;
}

.underline-about-me {
  font-weight: 400;
  position: relative;
  display: inline-block;
  color: var(--blue-buttons);
  &:hover::after {
    background-color: var(--blue-buttons);
  }
}
.underline-about-me:hover,
.underline-about-me:active {
  font-weight: 500;
}
.underline-about-me::after {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  width: 102%;
  height: 2px;
  border-radius: 1px;
  background-color: var(--blue-buttons);
}
.about-image {
  position: relative;
  z-index: -1;
}
.container-test {
  position: relative;
}
.div-javascript {
  transform: rotate(-10.5deg);
  position: absolute;
  max-width: 100px;
  top: 7.5rem;
  left: 0.2rem;
}
.div-figma {
  top: 1.7rem;
  right: 0.9rem;
  position: absolute;
  transform: rotate(11.5deg);
}
.div-github {
  transform: rotate(10deg);
  top: 0;
  left: 0;
}
.about-image-logos {
  content: "";
  transform: rotate(-10.5deg);
  z-index: 2;
}
button {
  z-index: 9;
  width: 100px;
  height: 100px;
  border: none;
  background-size: cover;
  cursor: pointer;
  pointer-events: all;
}

#button-javascript,
#button-javascript:hover {
  background-image: url(../images/icons/javascript.svg);
  opacity: 0.8;
}
#button-figma {
  position: absolute;
  z-index: 9;
  max-height: 90px;
  border: none;
  background-image: url(../images/icons/figma.svg);
  background-color: transparent;
  border: none;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: 6rem;
  right: 1.5rem;
}
#button-github {
  position: absolute;
  z-index: 9;
  max-width: 75px;
  border: none;
  background-image: url(../images/icons/github.svg);
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  bottom: 10rem;
  left: 2rem;
}
#button-wordpress {
  position: absolute;
  z-index: 9;
  max-width: 80px;
  transform: rotate(-6.75deg);
  border: none;
  background-image: url(../images/icons/wordpress.svg);
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  bottom: 100px;
  right: 21px;
}

.button-tag {
  display: absolute;
  width: 100px;
  height: 100px;
  border: none;
  background: transparent;
}
.javascript {
  position: absolute;
  background-color: #edf2fe;
  color: #1f2d5c;
  color: #1f2d5c;
  z-index: -5;
  top: -5rem;
  left: 0;
  border-radius: 0.625rem;
  display: inline-block;
  padding: 0.35rem 1rem;
  height: 3rem;
}
.javascript::after {
  z-index: -6;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 0.625rem solid #edf2fe;
  border-left: 0.625rem solid transparent;
  border-right: 0.625rem solid transparent;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 80%);
}
.figma {
  background-color: #edf2fe;
  color: #1f2d5c;
  z-index: 3;
  border-radius: 0.625rem;
  display: inline-block;
  padding: 0.35rem 1rem;
  height: 3rem;
}
.figma::after {
  z-index: -6;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 0.625rem solid #edf2fe;
  border-left: 0.625rem solid transparent;
  border-right: 0.625rem solid transparent;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 80%);
}
.github {
  background-color: #edf2fe;
  color: #1f2d5c;
  color: #1f2d5c;
  z-index: -5;
  bottom: 5.9rem;
  left: 0.7rem;
  position: absolute;
  border-radius: 0.625rem;
  display: inline-block;
  padding: 0.35rem 1rem;
  height: 3rem;
}
.github::after {
  z-index: -6;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 0.625rem solid #edf2fe;
  border-left: 0.625rem solid transparent;
  border-right: 0.625rem solid transparent;
  position: absolute;
  top: -5px;
  left: 43%;
  transform: rotate(180deg);
}
.wordpress {
  background-color: #edf2fe;
  color: #1f2d5c;
  color: #1f2d5c;
  z-index: -5;
  bottom: 5.6rem;
  right: -1rem;
  transform: rotate(-6.75deg);
  position: absolute;
  border-radius: 0.625rem;
  display: inline-block;
  padding: 0.35rem 1rem;
  height: 3rem;
}
.wordpress::after {
  z-index: -6;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 0.625rem solid #edf2fe;
  border-left: 0.625rem solid transparent;
  border-right: 0.625rem solid transparent;
  position: absolute;
  top: -5px;
  left: 43%;
  transform: rotate(180deg);
}
.tag-text {
  font-weight: 500 !important;
}

.javascript,
.figma,
.github,
.wordpress {
  display: none;
}
.bg-aside {
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: var(--white);
  font-size: var(--text-regular);
  text-align: center;
  height: 40rem;
  background-image: url(../images/aside/3D_creations.webp);
  background-attachment: fixed;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
aside {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  color: #edf2fe;
}
.bg-aside p {
  margin: 3rem 0;
}
.bg-aside h2 {
  font-weight: 700;
}
.aside-link {
  color: #edf2fe;
  padding: 1rem 2rem;
  margin-top: 3rem;
  border-radius: 10px;
  font-size: 2rem;
  border: 5px solid #edf2fe;
}
.discuss {
  padding-top: 10rem;
  margin-bottom: 10rem;
}
.discuss h2 {
  margin-bottom: 7rem;
}
.center {
  display: flex;
  justify-content: center;
}
.cards {
  line-height: 1.4;
  font-size: 2rem;
  display: flex;
  gap: 7rem;
  justify-content: space-between;
}
.cards a {
  color: var(--blue-buttons);
  text-decoration: underline;
}
.socials,
.cv {
  background-color: var(--bg-light);
  padding: 5rem;
  border-radius: 20px;
}

.socials p {
  margin-bottom: 1rem;
}
.socials-links {
  margin-top: 3.5rem;
}
.cards h3 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 4.5rem;
}
.cards img {
  max-width: 5.5rem;
}
.socials-flex p {
  margin: 0;
}
.socials-flex {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  margin-bottom: 3rem;
}
.socials-flex:last-child {
  margin-bottom: 0;
}
.cv {
  height: fit-content;
}
footer {
  padding: 2rem;
  color: var(--indigo-text);
  font-size: 1.6rem;
}
.legal-notices:link,
.legal-notices:visited {
  margin-left: 1rem;
  color: var(--blue-buttons);
}
.strong-name-about {
  z-index: 22;
  font-weight: 400;
  position: relative;
  color: var(--indigo-text);
}

.strong-name-about div {
  z-index: 22;
  position: relative;
  display: inline-block;
  size: fit-content;
}

.strong-name-about:hover div::after {
  height: 4rem;
}

.strong-name-about div::after {
  content: "";
  z-index: -1;
  position: absolute;
  bottom: 0px;
  border-radius: 1px;
  width: 125%;
  left: 0;
  height: 0.8rem;
  background-color: var(--indigo-light);
  transition: height 0.4s;
}
.strong-name-about div:first-child::after {
  width: 150%;
  left: -5%;
}
.strong-name-about div:last-child::after {
  width: 105%;
}

/*
.underline-about-me {
  font-weight: 400;
  position: relative;
  display: inline-block;

  &:hover::after {
    background-color: var(--blue-buttons);
  }
}
.underline-about-me:hover,
.underline-about-me:active {
  font-weight: 500;
}
.underline-about-me::after {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  width: 102%;
  height: 2px;
  border-radius: 1px;
  background-color: var(--blue-buttons);
}
*/
.strong-name-about {
  z-index: 22;
  font-weight: 400;
  position: relative;
  color: var(--indigo-text);
}
.strong-name-about p {
  font-weight: 500;
}
.strong-name-projects div {
  z-index: 22;
  position: relative;
  display: inline-block;
  size: fit-content;
}

.strong-name-projects:hover div::after {
  height: 4rem;
}

.strong-name-projects div::after {
  content: "";
  z-index: -1;
  position: absolute;
  bottom: 0px;
  border-radius: 1px;
  width: 108%;
  left: 0;
  height: 0.8rem;
  background-color: var(--indigo-light);
  transition: height 0.4s;
}
.strong-name-projects div:first-child::after {
  width: 150%;
}
.strong-name-projects div:last-child::after {
  width: 105%;
}

.strong-name-discuss div:first-child::after {
  width: 108%;
  left: 0;
}
.strong-name-discuss div:last-child::after {
  width: 105%;
}
