*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: blanchedalmond;
}
section{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url("./images/screen.png");
    background-size: cover;
}
section::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: url("./images/image-vector2.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /* creating the mask */
    mix-blend-mode: screen;
}