* {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-display: swap;
}

h1 {
  font-family: "EB Garamond", serif;
  font-size: 2.5rem;
  font-weight: 500;
  font-style: italic;
  line-height: 1.2;
}

a,
.links-list__mail {
  position: relative;
  text-decoration: none;
  color: inherit;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0.05em;
    width: 100%;
    height: 1px;
    background: currentColor;
    transform-origin: left;
    transform: scaleX(1);
    will-change: transform;
  }

  &:hover::after {
    animation: underline 0.22s forwards;
    animation-timing-function: cubic-bezier(0.11, 0, 0.5, 0);
  }
}

@keyframes underline {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }

  100% {
    transform: scaleX(1);
    transform-origin: left;
  }
}