// @font-face {
//   font-family: 'EB Garamond';
//   src: url('/fonts/EBGaramond-Italic.woff2') format('woff2'),
//     url('/fonts/EBGaramond-Italic.woff') format('woff'),
//     url('/fonts/EBGaramond-Italic.ttf') format('truetype');
//   font-weight: normal;
//   font-style: italic;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'EB Garamond';
//   src: url('/fonts/subset-EBGaramond-MediumItalic.woff2') format('woff2'),
//     url('/fonts/subset-EBGaramond-MediumItalic.woff') format('woff'),
//     url('/fonts/subset-EBGaramond-MediumItalic.ttf') format('truetype');
//   font-weight: 500;
//   font-style: italic;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'EB Garamond';
//   src: url('/fonts/EBGaramond-Regular.woff2') format('woff2'),
//     url('/fonts/EBGaramond-Regular.woff') format('woff'),
//     url('/fonts/EBGaramond-Regular.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }


// .eb-garamond-default {
//   font-family: "EB Garamond", serif;
//   font-optical-sizing: auto;
//   font-weight: 400;
//   font-style: normal;
// }

* {
  font-family: "EB Garamond", serif;
}

h2 {
  font-family: "EB Garamond", serif;
  font-size: 2.5rem;
  font-weight: 500;
  font-style: italic;
  line-height: 1.2;
}

a,
.links-list__mail {
  // text-decoration: underline;
  // text-decoration-thickness: 1px;
  // text-underline-offset: 3px;
  position: relative;
  text-decoration: none;
  color: inherit;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0.05em;
    width: 100%;
    height: 0.7px;
    background: currentColor;
    transform-origin: left;
    transform: scaleX(1);
    transition: transform 0.3s ease-in-out;
  }

  &:hover::after {
    animation: underline-remove 0.2s;
    transition: transform 0.15s ease-out;
  }

  &:hover {
    &::after {
      animation: underline-reveal 0.3s ease-out 0s forwards;
    }
  }
}

@keyframes underline-reveal {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }

  100% {
    transform: scaleX(1);
    transform-origin: left;
  }
}

@keyframes underline-remove {
  0% {
    transform: scaleX(1);
    transform-origin: left;
  }

  100% {
    transform: scaleX(0);
    transform-origin: left;
  }
}