$grid-columns: 12;
$gutter: 1rem;
$container-padding: 1rem;
$max-width: 100%;

$background-color: #1A1A1A;
$white: #FFFFFF;
$black: #000000;
$gray-border: #4b4b4b;
$gray: #565656;
$light-gray: #EDEDED;
$purple: hsl(285, 35%, 40%);